name: etl_dbt_cicd
on:
    pull_request:
        paths: ['python-etl/**/*.py', 'dbt-models/**/*.sql']
        branches:
            - '!main'
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-python@v4
              with:
                python-version: '3.12'
            - run: black --check .