name: syntac
on: push
jobs:
    context:
        runs-on: ubuntu-latest
        env:
            BRANCH: main # ジョブレベルの環境変数を定義
            ACTOR: ${{ github.actor }} # コンテキストの値を環境変数へセット
        steps:
            # コンテキストの例
            - run: echo "コンテキストの例"
            - run: echo "${{ github.actor }}"
            - run: echo "${{ github.event_name }}"
            - run: echo "${{ github.event.head_commit.message }}"
            - run: echo "${{ runner.os }}"
            # 環境変数の例
            - run: echo "環境変数の例"
            - run: echo "ブランチ名:$BRANCH"
            - run: echo "${{ env.BRANCH }}"
            # ジョブレベルの環境変数の例
            - run: echo "環境変数を参照する例"
            - uses: actions/checkout@v6
              with:
                ref: ${{ env.BRANCH }}
            # デフォルト環境変数
            - run: echo "GitHub Action:$GITHUB_ACTION"
            - run: echo "GitHub job:$GITHUB_JOB"
            # 中間環境変数
            - run: echo "The actor is $ACTOR" # 環境変数経由でコンテキストのプロパティを参照
            - run: echo "The actor is ${{ github.actor }}"
            - run: echo "The actor is ${ACTOR}" # 環境変数経由でコンテキストのプロパティを参照
    variable:
        runs-on: ubuntu-latest
        env:
            TESTVARIABLE: ${{ vars.USERNAME }} # リポジトリの変数をセット
        steps:
            - run: |
                echo "環境変数の例"
                echo "ブランチ名:$BRANCH"
                echo "GitHub Action:$GITHUB_ACTION"
                echo "GitHub job:$GITHUB_JOB"
            - run: echo "リポジトリ変数： ${TESTVARIABLE}"
    secrets:
        runs-on: ubuntu-latest
        env:
            PASSWORD: ${{ secrets.PASSWORD }} # シークレットを環境変数へセット
        steps:
            - run: echo "シークレットの例"
            - run: echo "シークレット値:${{ secrets.PASSWORD }}"
            - run: echo "${PASSWORD:0:1} ${PASSWORD#?}" # マスクせず表示

